DO_TOKEN="your_digitalocean_token"
GITHUB_TOKEN="your_github_token"
POSTGRES_USER="face_client_user"
POSTGRES_PASSWORD="password"
APP_SETTINGS="config.DevelopmentConfig"
DATABASE_URI="postgresql://face_client_user:myPass@db:5432/face_client_user"
SECRET_KEY="your-secret-key"
